@font-face {
  font-family: Hyundai;
  src: url(fonts/Hyundai.ttf);
}

body {
  all: unset;
  color: white;
  font-family: Hyundai;
  overflow: hidden;
  background: black;
  position: relative;
}
/* color */
/* F3BB0E */
/* F1A513 */
/* F3941C */
/* F48222 */
/* 282828 */

canvas {
  position: absolute;
}

div {
  position: absolute;
  mix-blend-mode: difference;
}
.titre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25vh;
}
.sous-titre {
  top: 12.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25vh;
}
.contenants {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.isolants {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texts {
  font-size: 8em;
  font-weight: bold;

  mix-blend-mode: color;
  position: absolute;
}

.sous-titre .texts {
  font-size: 4em;
  font-weight: normal;
  mix-blend-mode: lighten;
  position: absolute;
}

.text-hauts {
  perspective: 250px;
  color: yellow;
}
.sous-titre .text-hauts {
  color: magenta;
}
.text-bas {
  perspective: 250px;
  color: #f3941c;
}
.sous-titre .text-bas {
  color: white;
}
.text-centres {
  perspective: 250px;
  color: #f48222;
}
.sous-titre .text-centres {
  color: cyan;
}
